<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <div ng-model="myApp" ng-controller="employeeController">
    <!--Old form outside table-->
    <!--<header class="p-3">
      
      <form class="form" name="form">
        <div class="row">
          <div class="input-group col">
            <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
            </div>
            <input name="name" class="form-control" ng-model="employeesForm.name" type="text" placeholder="Name">
          </div>

          <div class="input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text">Surame</span>
            </div>
            <input name="surname" class="form-control" ng-model="employeesForm.surname" type="text" placeholder="Surame">
          </div>
        </div>
        <div class="row pt-2">
          <div class="input-group col">
            <div class="input-group-prepend">
                <span class="input-group-text">Sex</span>
            </div>
            <input name="sex" class="form-control col" ng-model="employeesForm.sex" type="text" placeholder="Sex">
          </div>

          <div class="input-group col">
            <div class="input-group-prepend">
                <span class="input-group-text">Phone</span>
            </div>
            <input name="phone" class="form-control col" ng-model="employeesForm.phone" type="text" placeholder="Phone">
          </div>

          <div class="input-group col">
            <div class="input-group-prepend">
                <span class="input-group-text">Date of birth</span>
            </div>
            <input name="dateOfBirth" class="form-control col" ng-model="employeesForm.dateOfBirth" type="text" placeholder="Date of birth"
            ng-class="{ 'is-valid': form.dateOfBirth.$valid && !form.dateOfBirth.$pristine, 'is-invalid': form.dateOfBirth.$invalid}"
                  placeholder="Date of birth"
                  required pattern="^(\d{4})(?:-?W(\d+)(?:-?(\d+)D?)?|(?:-(\d+))?-(\d+))(?:[T ](\d+):(\d+)(?::(\d+)(?:\.(\d+))?)?)?(?:Z(-?\d*))?$">
          </div>
        </div>

        <div class="row pt-2">
          <div class="input-group col">
            <div class="input-group-prepend">
                <span class="input-group-text">Experience</span>
            </div>
            <input name="experience" class="form-control" ng-model="employeesForm.experience" type="text" placeholder="experience">
          </div>
  
          <div class="input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text">Technologies</span>
            </div>
            <input name="technologies" class="form-control" ng-model="employeesForm.technologies" type="text" placeholder="technologies">
          </div>

          <div class="input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input name="email" class="form-control" ng-model="employeesForm.email" type="text" placeholder="email">
          </div>
        </div>
        <button class="form-control btn btn-primary mt-2" ng-click="formButton()">{{isEditActive ? 'Update' : 'Add'}}</button>
      </form>
    </header>-->
    <main>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" ng-click="changeFilter('name')">Name</th>
            <th scope="col" ng-click="changeFilter('surname')">Surname</th>
            <th scope="col" ng-click="changeFilter('sex')">Sex</th>
            <th scope="col" ng-click="changeFilter('phone')">Phone</th>
            <th scope="col" ng-click="changeFilter('dateOfBirth')">Date of birth</th>
            <th scope="col" ng-click="changeFilter('experience')">Experience</th>
            <th scope="col" ng-click="changeFilter('technologies')">Technologies</th>
            <th scope="col" ng-click="changeFilter('email')">Email</th>
            <th scope="col"><input type="text" class="form-control input-lg" placeholder="Search..." ng-model="search"></th>
          </tr>
        </thead>
        <tbody class="tbody-light">
          <tr ng-form="form">
              <td class="p-0">
                <input 
                  type="text"
                  name="name"
                  placeholder="Name"
                  class="form-control no-rounding"
                  required
                  ng-class="{ 'is-invalid': form.name.$invalid && !form.name.$pristine }"
                  ng-model="employeesForm.name">
              </td>
              <td class="p-0">
                <input
                  type="text"
                  name="surname"
                  placeholder="Surame"
                  class="form-control no-rounding"
                  required
                  ng-class="{ 'is-invalid': form.surname.$invalid && !form.surname.$pristine }"
                  ng-model="employeesForm.surname"
                  >
              </td>
              <td class="p-0">
                <input
                  type="text"
                  name="sex"
                  placeholder="Sex"
                  class="form-control no-rounding"
                  required
                  ng-class="{ 'is-invalid': form.sex.$invalid && !form.sex.$pristine }"
                  ng-model="employeesForm.sex">
              </td>
              <td class="p-0">
                <input 
                  type="text"
                  name="phone" 
                  placeholder="Phone"
                  class="form-control no-rounding" 
                  required
                  ng-class="{'is-invalid': form.phone.$invalid && !form.phone.$pristine }"
                  ng-model="employeesForm.phone">
              </td>
              <td class="p-0">
                <input
                  type="text"
                  name="dateOfBirth"
                  placeholder="Date of birth"
                  class="form-control no-rounding"
                  required
                  pattern="^\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+([+-][0-2]\d:[0-5]\d|Z)$"
                  ng-class="{'is-invalid': form.dateOfBirth.$invalid && !form.dateOfBirth.$pristine }"
                  ng-model="employeesForm.dateOfBirth">
              </td>
              <td class="p-0">
                <input
                  type="text"
                  name="experience"
                  placeholder="experience"
                  class="form-control no-rounding"
                  required
                  ng-class="{'is-invalid': form.experience.$invalid && !form.experience.$pristine }"
                  ng-model="employeesForm.experience">
                </td>
              <td class="p-0">
                <input
                  type="text"
                  name="technologies"
                  placeholder="technologies"
                  class="form-control no-rounding"
                  required
                  ng-class="{'is-invalid': form.technologies.$invalid && !form.technologies.$pristine }"
                  ng-model="employeesForm.technologies">
                </td>
              <td class="p-0">
                <input
                  type="text"
                  name="email"
                  placeholder="email"
                  class="form-control no-rounding"
                  required
                  ng-class="{'is-invalid': form.email.$invalid && !form.email.$pristine }"
                  ng-model="employeesForm.email">
              </td>
              <td class="p-0">
                <button class="form-control no-rounding btn btn-primary" ng-click="formButton()" ng-disabled="form.$invalid || form.$pristine">
                  {{isEditActive ? 'Update' : 'Add'}}
                </button>
              </td>
            </tr>
          <tr ng-repeat="employee in employes | orderBy: filter | filter: search">
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.sex}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.dateOfBirth}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.technologies}}</td>
            <td>{{employee.email}}</td>
            <td>
              <button class="btn btn-warning" ng-click="sendEmployeeForUpdate(employee)">edit</button>
              <button class="btn btn-danger" ng-click="deleteEmployee(employee.id)">remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
  
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>
</body>
</html>
